@model ControleDeContatos.Models.LoginModel

@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Login";
}

@if (TempData["MensagemError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemError"]
    </div>

}

<div class="mb-3">
    <form asp-action="Entrar" asp-controller="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Login" class="control-label"></label>
            <input asp-for="Login" type="text" class="form-control" id="login" />
            @Html.ValidationMessageFor(x => x.Login)
        </div>
        <div class="mb-3">
            <label asp-for="Senha" class="control-label"></label>
            <input asp-for="Senha" type="password" class="form-control" id="senha" />
            @Html.ValidationMessageFor(x => x.Senha)
        </div>
        <div class="d-grid gap-2">
            <input type="submit" value="Entrar" class="btn btn-primary" />
        </div>
    </form>
</div>

